name: Run tests with dcorelib
on: [push, pull_request]
jobs:
  build:
    name: |
      ${{ matrix.os }}, python==${{ matrix.python }}, numpy==${{ matrix.numpy }}, scipy==${{ matrix.scipy }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            numpy: 1.24
            scipy: 1.6
            python: 3.8
          - os: ubuntu-latest
            numpy: 1.24
            scipy: 1.6
            python: 3.11
          - os: ubuntu-latest
            numpy: 2.0
            scipy: 1.14
            python: 3.12
          #- os: ubuntu-latest
            #numpy: auto
            #scipy: auto
            #python: 3.9

    steps:
      - uses: actions/checkout@v4
      - name: apt
        if: ${{ runner.os == 'Linux' }}
        run: |
          sudo apt update
          sudo apt install liblapack-dev openmpi-bin libopenmpi-dev libscalapack-openmpi-dev
      - uses: mpi4py/setup-mpi@v1

      - name: Set up python ${{ matrix.python }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}

      - name: Install numpy ${{ matrix.numpy }}, scipy ${{ matrix.scipy }}
        if: ${{ matrix.numpy != 'auto' }}
        run: |
          pip install numpy==${{ matrix.numpy}} scipy==${{ matrix.scipy }}

      - name: Install package with testing dependencies
        run: |
          pip install .[dev]

      - name: make workspace [HPhi]
        run: |
          pwd
          cmake -E make_directory ${{runner.workspace}}/HPhi/build

      - name: download [HPhi]
        working-directory: ${{runner.workspace}}/HPhi
        run: |
          wget https://github.com/issp-center-dev/HPhi/releases/download/v3.5.0/HPhi-3.5.0.tar.gz
          tar zxvf HPhi-3.5.0.tar.gz

      - name: cmake [HPhi]
        working-directory: ${{runner.workspace}}/HPhi/build
        shell: bash
        run: |
          cmake -DCMAKE_VERBOSE_MAKEFILE=ON $GITHUB_WORKSPACE ../HPhi-3.5.0 -DCMAKE_INSTALL_PREFIX=${{runner.workspace}}/HPhi
          make install

      - name: Test with pytest
        run: |
          export DCORE_TRIQS_COMPAT=1
          export PATH=${{runner.workspace}}/HPhi/bin:$PATH
          pytest tests/non-mpi/*/*.py
          mpirun -np 2 pytest tests/mpi/*/*.py
